<ActionBar>
    <!-- 
    Use the NavigationButton as a side-drawer button in Android
    because ActionItems are shown on the right side of the ActionBar
    -->
    <NavigationButton ios:visibility="collapsed" icon="res://menu" (tap)="onDrawerButtonTap()"></NavigationButton>
    <!-- 
    Use the ActionItem for IOS with position set to left. Using the
    NavigationButton as a side-drawer button in iOS is not possible,
    because its function is to always navigate back in the application.
    -->
    <ActionItem icon="res://menu" android:visibility="collapsed" (tap)="onDrawerButtonTap()"
        ios.position="left">
    </ActionItem>
    <Label text="Home"></Label>
</ActionBar>

<GridLayout class="page__content">
    <PullToRefresh
        (refresh)="refreshList($event)"
        indicatorFillColor="#3489db"
        indicatorColor="#fff"
    >
        <ListView [items]="items" (itemTap)="onItemTap($event)" class="list-group" (loadMoreItems)="onLoadMoreItems($event)">
            <ng-template let-item="item">
                <FlexboxLayout flexDirection="column">
                    <Label [text]="item.title" textWrap="true" class="itemTitle"></Label>
                    <Label [text]="item.url"></Label>
                    <Label [text]="item.pubDate*1000 | date : 'hh:mm - dd.MM.yy'"></Label>                
                </FlexboxLayout> 
            </ng-template>
        </ListView>
    </PullToRefresh>
</GridLayout>